:root{
    --logo-blue-color: #2196F3;
    --title-color:#212121;
    --text-color:#757575;
    --logo-black-color:#000000;
    --white-color:#FFFFFF;
    --bg-color:#2F303A;
    --footer-mail:rgba(255, 255, 255, 0.6);
    --button-bg-port:#F5F4FA;
}
/* Container */
.container{    
    margin-left:auto;
    margin-right:auto;
    width:1230px;
    padding-left:15px;
    padding-right:15px;
}
.section{
    padding-top:120px;
    padding-bottom:120px;
}
/* Шрифт Body */
body {
    font-family: Roboto, sans-serif;
    color:var(--text-color);
    font-style: normal;
    font-weight:400;
    font-size: 14px;        
}
address{
    font-style: normal;
}
.list{
    list-style: none;
    padding:0;
    margin:0;
}
.site-nav .link.current{
    color: var(--logo-blue-color);
}
.invisibility{
    opacity: 0;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Шапка */
.logo,
.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;    
}
.logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-blue{
    color:var(--logo-blue-color) ;
}
.logo-black{
    color:var(--logo-black-color) ;
}
.site-nav .link-head:not(:last-child){
    margin-right: 50px;
}
.mail-link,
.tel-link,
.site-nav .link {
    color: var(--text-color);
    font-weight: 500;   
    line-height: 1.14;
    letter-spacing: 0.02em;

    display:block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link {
    color: var(--title-color);    
}  
.head-list .mail:not(:last-child){
    margin-right: 50px;
}
.head-list .mail{
    display: flex;
    align-items: center;
}
.head-list .mail::before{
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;   
    margin-right: 10px;    
}
.icon-mail::before{
    content: "";
    background-image: url(../images/letter.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.icon-tel::before{
    content: "";
    background-image: url(../images/mobil.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.link:focus{
    color: var(--logo-blue-color);
}
.link:hover{
    color: var(--logo-blue-color);
}
.head-list{
    display: flex;
    align-items: center;    
}
.container-head{
    display: flex;
    justify-content: space-between;    
}
.border-head{
    background-color: var(--white-color);    
    border-bottom: 1px solid #ECECEC;
}


/* Головний текст */
.titel-service{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;

    margin-top:0;
    margin-bottom: 30px;
}
.block-service{
    display: flex;
    flex-direction: column;

    
}
.bg-service{
    background-image: url(../images/bg-people.jpg);

    padding-top: 200px;
    padding-bottom: 200px;
}
.button{
    min-width: 216px;
    height: 50px;
    background-color: var(--logo-blue-color);
    color: var(--white-color);
    border-color:transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin:0 auto;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.list .title{
    color: var(--title-color);
    line-height: 1.14;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 10px;       
}
.title-features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features{
    display: flex;
    justify-content: space-evenly;
}
.features-icon::before{
    content: "";
    height: 120px;    
    display: block;
    background-color: var(--button-bg-port);
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon-antenna::before{
    content: "";
    background-image: url(../images/antenna.svg);
    
}
.icon-clock::before {
    content: "";
    background-image: url(../images/clock.svg);
    
}
.icon-diagram::before {
    content: "";
    background-image: url(../images/diagram.svg);

}
.icon-astronaut::before {
    content: "";
    background-image: url(../images/astronaut.svg);

}
.list .text{
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;

    width: 270px;
}
.work .title,
.team .title{
    color: var(--title-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 50px;    
}
.work .list{
    display: flex;
    justify-content: space-between;
}
.team .list{
    display: flex;
    justify-content:space-between ;
}
.team{
    background-color:#F5F4FA ;
    padding-top: 94px;
}
.work,
.team{
    padding-bottom: 94px;    
}
.title-name{
    color: var(--title-color);
    font-weight: 500; 
    
    margin-top: 30px;
    margin-bottom: 10px;    
}
.team .text,
.title-name{    
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}
.team .text{
    margin-bottom: 30px;
}
.one-of-team {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Подвал */
.logo-white{
    color: var(--white-color);
}
.bg-footer{
    background-color:var(--bg-color); 
    
    padding-top: 60px;
    padding-bottom: 60px;
}
.adress-footer{
    color: var(--white-color);
    line-height: 1.71;
}
.mail-footer,
.tel-footer{
    color:var(--footer-mail) ;  
    line-height: 1.71;
}
.mail-footer{
    display: inline-block;    
}
.logo-footer{
    display: inline-block;
    margin-bottom: 20px;   
}
.bg-footer .mail:not(:last-child){
    margin-bottom: 9px;
}
/* portfolio */
.button-port{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
     
    border-radius: 4px;
    border-color: transparent;
    font-family: Roboto,sans-serif;
    cursor: pointer;    
}
.list-btn:not(:last-child){
    margin-right:8px;
}
.btn-port{  
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}
.button-port.current,
.button-port:hover{
    color: var(--white-color);
    background-color: var(--logo-blue-color);     
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.title-collection{    
    color: var(--title-color);
    font-size: 18px;
    line-height: 2;

    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
}
.text-collection{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.9;

    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 24px;
}
.list-collection{
    display: flex;
    flex-wrap: wrap;  
    gap:30px;
}

.decoration-link{
    text-decoration: none;
    }
/* .link-collection:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}
.link-collection:not(:nth-child(3n + 0)){
    margin-right: 30px;
} */
.border-col{    
    border: 1px solid #EEEEEE;
    background: #FFFFFF;
    border-top-color:transparent;
}
.collection{
    padding-top:94px;
    padding-bottom:94px;
}
.img-collection{
    display:block;
}
.link-collection:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
}